# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
custom.pro
customx86.pro
customx64.pro
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

# Mac OS X Specific
.DS_Store

error.log

# Installation Scripts, ignore these since they contain path dependent scripts that will be different from computer to computer
MacDeployScript.sh
WindowsInstaller.iss
WindowsInstallerx86.iss
